.button {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.event-card-wrapper {
  margin: 25px;
}

.col-eventWrapper {
  background: #FFECE4;
  padding: 15px 30px;
}

.description-row {
  margin: 20px 0px;
}
.col-description {
  padding: 0;
}

.date {
  text-align: right;
}
.time {
  text-align: right;
}