.home-header {
  background: url("../../assets/images/landingpink.jpg");
  width: 100%;
  background-size: cover;
  padding: 30px 10px;
}
.header-text{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
.header-button-mission {
  text-align: center;
  margin: 20px;
}